<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ locale .Context "0000039" }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdui/1.0.2/css/mdui.min.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<style>
    #ajax {min-height: calc(100vh - 170px);}
    .bottom-nav{padding: 10px 0;width: 100%;}
    .nav-text{margin: 20px 20px;}
</style>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo">
<div class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target:'#drawer', swipe:true, overlay: false}">
            <i class="mdui-icon material-icons">menu</i>
        </span>
        <a href={{ .base_url }} class="mdui-typo-headline">{{ locale .Context "0000039" }}</a>
        <div class="mdui-toolbar-spacer"></div>
        <span class="mdui-btn mdui-btn-icon mdui-ripple" mdui-tooltip="{content: 'Refresh'}" id="refresh">
            <i class="mdui-icon material-icons">&#xe5d5;</i>
        </span>
    </div>
    <div class="mdui-progress mdui-hidden" id="loading">
        <div class="mdui-progress-indeterminate"></div>
    </div>
</div>
<div class="mdui-drawer" id="drawer">
    <div class="mdui-list" mdui-collapse="{accordion: false}">
        <div class="mdui-list-item mdui-ripple mdui-p-l-2 ajax-load" data-href={{ printf "%s/list/" .base_url | js }}>
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-theme">&#xe8ef;</i>
            <div class="mdui-list-item-content">{{ locale .Context "0000040" }}</div>
        </div>
        <div class="mdui-collapse-item">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-theme">&#xe30a;</i>
                <div class="mdui-list-item-content">{{ locale .Context "0000041" }} ({{ count .online }})</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                {{ range $uuid, $latest := .online }}
                <div class="mdui-list-item mdui-ripple mdui-p-l-2 ajax-load" data-href={{ printf "%s/info/%s" $.base_url $uuid | js }}>
                    <span class="mdui-list-item-icon flag-icon flag-icon-{{ index $.info $uuid "Country Code" | lower }}"></span>
                    <div class="mdui-list-item-content">
                        <div class="mdui-list-item-title">
                            {{ default (index $.name $uuid) (index $.info $uuid "IPV4") }}
                        </div>
                        <div class="mdui-list-item-text mdui-list-item-one-line">
                            {{ default (index $.info $uuid "Country") "Unknown" }}
                        </div>
                    </div>
                    <i class="mdui-icon material-icons mdui-text-color-green">&#xe2bf;</i>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="mdui-collapse-item">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-theme-accent">&#xe30a;</i>
                <div class="mdui-list-item-content">{{ locale .Context "0000042" }} ({{ count .offline }})</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                {{ range $uuid, $latest := .offline }}
                <div class="mdui-list-item mdui-ripple mdui-p-l-2 ajax-load" data-href={{ printf "%s/info/%s" $.base_url $uuid | js }}>
                    <span class="mdui-list-item-icon flag-icon flag-icon-{{ index $.info $uuid "Country Code" | lower }}"></span>
                    <div class="mdui-list-item-content">
                        <div class="mdui-list-item-title">
                            {{ default (index $.name $uuid) (index $.info $uuid "IPV4") }}
                        </div>
                        <div class="mdui-list-item-text mdui-list-item-one-line">
                            {{ default (index $.info $uuid "Country") "Unknown" }}
                        </div>
                    </div>
                    <i class="mdui-icon material-icons mdui-text-color-red">&#xe2c1;</i>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<div class="mdui-container" id="ajax">
    <div class="mdui-panel" mdui-panel>
        <div class="mdui-panel-item mdui-panel-item-open">
            <div class="mdui-panel-item-header">
                <i class="mdui-icon material-icons">&#xe88f;</i>
                <div class="mdui-panel-item-title">{{ locale .Context "0000043" }}</div>
            </div>
            <div class="mdui-panel-item-body">
                <h2>{{ locale .Context "0000039" }}</h2>
                <span>
                    <a href="https://github.com/LittleJake/server-monitor-go" target="_blank" rel="noopener noreferrer" mdui-tooltip="{'content': 'GitHub Repository'}">
                        <svg width="30px" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>GitHub</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
                    </a>
                </span>
                <p class="mdui-text-color-black">{{ locale .Context "0000052" }}</p>
                <p class="mdui-text-color-black-secondary">{{ locale .Context "0000053" }}</p>
            </div>
        </div>
    </div>
</div>
<div class="bottom-nav mdui-color-theme">
    <div class="nav-text">
        <p class="mdui-text-color-white-text">{{ locale .Context "0000051" }}</p>
        <p class="mdui-text-color-white-secondary">{{ locale .Context "0000044" }}</p>
    </div>
</div>
{{ template "js_template.html" . }}
<script>
    var refreshLock = false;
    function refresh() {
        url = $('#refresh').attr("data-src");
        if(url && !refreshLock) {
            refreshLock = true;
            $('#loading').removeClass("mdui-hidden");
            $.ajax({
                url: url,
                async: true,
                success: function(data){$('#ajax').html(data);mdui.mutation();$('#loading').addClass("mdui-hidden");},
                error: (data, status, e) => {mdui.snackbar({message: e});},
                complete: () => {refreshLock = false}
            })
        }
    }

    $('.ajax-load').on('click',function () {
        var url = $(this).attr('data-href'), drawer = new mdui.Drawer('#drawer', {swipe: true});
        $('#loading').removeClass("mdui-hidden");
        $('.mdui-list-item-active').removeClass('mdui-list-item-active');
        $.ajax({
            url: url,
            success: function(data){
                $('#loading').addClass("mdui-hidden");
                $('#ajax').html(data);
                mdui.mutation();
                $('#refresh').attr("data-src", url);
            },
            error: function (data, status, e){mdui.snackbar({message: e});window.location = url;}
        });
        
        $(this).addClass('mdui-list-item-active');
        $('#refresh').on('click', function () {refresh()});
    })
</script>
</body>
</html>