{{define "info_template.html"}}
<style>
    .line {
        margin: 20px;
        position: relative;
    }

    .icon {
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
        display: inline-block;
        width: 1.33333333em;
        line-height: 1em;
    }

    .graph {
        overflow: visible;
    }
</style>
<script>
    function load_icon(name,url,color) {
        $.ajax({
            url: url,
            type: "GET",
            dataType: "text",
            success: function(res){
                $(".icon-"+name).html(res);
                $(".icon-"+name+">svg").css("fill", color);
                $(".icon-"+name+">svg").addClass("icon");
            }
        });
    }
</script>
<div class="mdui-panel" mdui-panel>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe88e;</i>
            <div class="mdui-panel-item-title">{{locale .Context "0000001"}}</div>
            <div class="mdui-panel-item-summary">{{locale .Context "0000002"}}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body mdui-typo">
            <div class="mdui-col-xs-12 mdui-col-md-6">
                <h4>{{locale .Context "0000011"}}</h4>
                <p class="mdui-valign"><span class="icon-{{ index .info "CPU" | iconName }}"></span>{{ index .info "CPU" }}</p>
                <script>load_icon({{ index .info "CPU" | iconName }},{{ index .info "CPU" | iconURL }}, {{ index .info "CPU" | iconColor }})</script>
                <h4>{{locale .Context "0000012"}}</h4>
                <p class="mdui-valign"><span class="icon-{{ index .info "System Version" | iconName }}"></span>{{ index .info "System Version" }}</p>
                <script>load_icon({{ index .info "System Version" | iconName }},{{ index .info "System Version" | iconURL }}, {{ index .info "System Version" | iconColor }})</script>
                <h4>{{locale .Context "0000013"}}</h4>
                <p>{{ index .info "IPV4" }}</p>
                <h4>{{locale .Context "0000014"}}</h4>
                <p>{{ index .info "IPV6" }}</p>
                <h4>{{locale .Context "0000015"}}</h4>
                <p class="mdui-valign"><span class="mdui-list-item-icon flag-icon flag-icon-{{ index .info "Country Code" | lower }}"></span>{{ index .info "Country" }}</p>
                <h4>{{locale .Context "0000016"}}</h4>
                <p>{{ index .info "Agent Version" }}</p>
            </div>
            <div class="mdui-col-xs-12 mdui-col-md-6">
                <h4>{{locale .Context "0000017"}}</h4>
                <p>{{ index .info "Process" }}</p>
                <h4>{{locale .Context "0000018"}}</h4>
                <p>{{ index .info "Connection"}}</p>
                <h4>{{locale .Context "0000019"}}</h4>
                <p>{{ index .info "Throughput"}}</p>
                <h4>{{locale .Context "0000020"}}</h4>
                <p>{{ index .info "Uptime"}}</p>
                <h4>{{locale .Context "0000021"}}</h4>
                <p>{{ index .info "Load Average"}}</p>
                <h4>{{locale .Context "0000022"}}</h4>
                <p>{{ index .info "Update Time" | datetime }}</p>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe24b;</i>
            <div class="mdui-panel-item-title">{{locale .Context "0000023"}}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-row">
                <div class="mdui-col-xs-12">
                    <div id="cpu-collection" class="graph">
                        <div class="mdui-spinner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe1db;</i>
            <div class="mdui-panel-item-title">{{locale .Context "0000027"}}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
                <div class="mdui-col-lg-3">
                    <div class="mdui-container" style="overflow: auto; max-height: 50vh;">
                        {{ range $mountpoint, $stat := .latest.Disk }}
                        <div class="mdui-row">
                            <h4>{{ $mountpoint }}</h4>
                            <p>{{ index $stat "used" | sizeFormat }} / {{ index $stat "total" | sizeFormat }}</p>
                            <div id="disk_status_{{ $mountpoint | hash }}" class="line"></div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <div class="mdui-col-lg-9">
                    <div id="disk-collection" class="graph">
                        <div class="mdui-spinner"></div>
                    </div>
                </div>
            </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe322;</i>
            <div class="mdui-panel-item-title">{{locale .Context "0000024"}}</div>
            <div class="mdui-panel-item-summary">{{locale .Context "0000025"}}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-col-lg-3">
                <h4>{{locale .Context "0000024"}}</h4>
                <p>{{ index .latest "Memory" "Mem" "used" | sizeFormat}} / {{ index .latest "Memory" "Mem" "total" | sizeFormat }}</p>
                <div id="memory_status" class="line"></div>
                <h4>{{locale .Context "0000028"}}</h4>
                <p>{{ index .latest "Memory" "Swap" "used" | sizeFormat}} / {{ index .latest "Memory" "Swap" "total" | sizeFormat }}</p>
                <div id="swap_status" class="line"></div>
            </div>
            <div class="mdui-col-lg-9">
                <div id="memory-collection" class="graph">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe640;</i>
            <div class="mdui-panel-item-title">{{locale .Context "0000026"}}</div>
            <div class="mdui-panel-item-summary">{{locale .Context "0000029"}}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-col-xs-12">
                <div id="network-collection">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe640;</i>
            <div class="mdui-panel-item-title">{{locale .Context "0000030"}}</div>
            <div class="mdui-panel-item-summary">{{locale .Context "0000031"}}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-col-xs-12">
                <div id="io-collection">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons" style="color: #5dd8ff;">&#xeb3b;</i>
            <div class="mdui-panel-item-title">{{locale .Context "0000032"}}</div>
            <div class="mdui-panel-item-summary">{{locale .Context "0000033"}}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-col-xs-12">
                <div id="thermal-collection" class="graph">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons" style="color: #009032;">&#xe1a5;</i>
            <div class="mdui-panel-item-title">{{locale .Context "0000034"}}</div>
            <div class="mdui-panel-item-summary">{{locale .Context "0000035"}}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-col-xs-12">
                <div id="battery-collection" class="graph">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons" style="color: #900088;">&#xe01b;</i>
            <div class="mdui-panel-item-title">{{locale .Context "0000036"}}</div>
            <div class="mdui-panel-item-summary">{{locale .Context "0000037"}}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
            <div class="mdui-col-xs-12">
                <div id="ping-collection" class="graph">
                    <div class="mdui-spinner"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ctx_battery, ctx_cpu, ctx_disk, ctx_mem, ctx_network, ctx_ping, ctx_io, ctx_thermal;
    var bar_config = {
            strokeWidth: 2, easing: 'easeInOut', duration: 1400, color: '#33cc33', trailColor: '#eee', trailWidth: 1,
            svgStyle: {width: '100%', height: '100%'},
            text: {
                style: {color: '#000', position: 'absolute', right: '0', top: '15px', padding: 0, margin: 0, transform: null},
                autoStyleContainer: false
            },
            from: {color: '#99e699'},to: {color: '#ff8080'},
            step: (state, bar) => {bar.setText(Math.round(bar.value() * 100) + ' %');bar.path.setAttribute('stroke', state.color)}
    };

    //disk
    {{ range $mountpoint, $stat := .latest.Disk }}
    new ProgressBar.Line("#disk_status_{{ $mountpoint | hash }}", bar_config).animate({{ index $stat "percent" }}/100);
    {{ end }}

    new ProgressBar.Line(memory_status, bar_config).animate({{ index .latest "Memory" "Mem" "percent" }}/100);
    new ProgressBar.Line(swap_status, bar_config).animate({{ index .latest "Memory" "Swap" "percent" }}/100);

    $.ajax({
        url: {{ printf "%s/api/network/%s" .base_url .uuid | js }} , method: "get", dataType: 'json',
        async: true,
        success: function(e){
            let option = {
                title: {text:"Network RX & TX", left: 'center'},
                tooltip: {trigger: 'axis', axisPointer: {type: 'cross', label: {backgroundColor: '#6a7985'}}},
                legend: {bottom: 50, data: ['RX Packets (k)', 'RX Throughput (MB)', 'TX Packets (k)', 'TX Throughput (MB)',]},
                grid: [{height: '60%'}, {height: '60%'}],
                axisPointer: {link: {xAxisIndex: 'all'}},
                dataZoom: [{show: true, realtime: true, start: 70, end: 100}, {type: 'inside', realtime: true, start: 70, end: 100}],
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: [{
                    type: 'value',
                    name: 'Packets',
                    axisLabel: {formatter: '{value} k'},
                    position: 'right',
                    axisLine: {show: true},
                    splitLine: {show: false},
                }, {
                    type: 'value',
                    name: 'Throughput',
                    axisLabel: {formatter: '{value} MB'},
                    position: 'left',
                    axisLine: {show: true},
                    splitLine: {show: false},
                }],
                series: [
                    {name: 'RX Packets (k)',symbol: 'none', type: 'line', areaStyle: {}, data: e.RX.packets,},
                    {name: 'RX Throughput (MB)',symbol: 'none', yAxisIndex: 1, type: 'line', areaStyle: {}, data: e.RX.megabytes,},
                    {name: 'TX Packets (k)',symbol: 'none', type: 'line', areaStyle: {}, data: e.TX.packets,},
                    {name: 'TX Throughput (MB)',symbol: 'none', yAxisIndex: 1, type: 'line', areaStyle: {}, data: e.TX.megabytes,},
                ]
            };

            ctx_network = echarts.init(document.getElementById('network-collection'), null, {height: window.innerHeight * 0.6});
            ctx_network.setOption(option);
        },
        error: function () {document.getElementById('network-collection').parentNode.innerHTML="Fail to load network data.";}
    });
    $.ajax({
        url:  {{ printf "%s/api/io/%s" .base_url .uuid | js }} , method: "get", dataType: 'json',
        async: true,
        success: function(e){
            let option = {
                title: {text: {{locale .Context "0000030"}}, left: 'center'},
                tooltip: {trigger: 'axis', axisPointer: {type: 'cross', label: {backgroundColor: '#6a7985'}}},
                legend: {bottom: 50, data: ['Read Counts(k)', 'Read Throughput (MB)', 'Read Time (ms)', 'Write Counts(k)', 'Write Throughput (MB)', 'Write Time (ms)',]},
                grid: [{height: '60%'}, {height: '60%'}],
                axisPointer: {link: {xAxisIndex: 'all'}},
                dataZoom: [{show: true, realtime: true, start: 70, end: 100, xAxisIndex: [0, 1]}, {type: 'inside', realtime: true, start: 70, end: 100, xAxisIndex: [0, 1]}],
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: [{
                    type: 'value',
                    name: 'Counts',
                    axisLabel: {formatter: '{value} k'},
                    position: 'right',
                    axisLine: {show: true},
                    splitLine: {show: false},
                }, {
                    type: 'value',
                    name: 'Throughput',
                    axisLabel: {formatter: '{value} MB'},
                    position: 'left',
                    axisLine: {show: true},
                    splitLine: {show: false},
                }, {
                    type: 'value',
                    name: 'Time (ms)',
                    position: 'left',
                    show: false
                }],
                series: [
                    {name: 'Read Counts (k)',symbol: 'none', type: 'line', areaStyle: {}, data: e.read.counts,},
                    {name: 'Read Throughput (MB)',symbol: 'none', yAxisIndex: 1, type: 'line', areaStyle: {}, data: e.read.megabytes,},
                    {name: 'Read Time (ms)',symbol: 'none', yAxisIndex: 2, type: 'line', areaStyle: {}, data: e.read.time_ms,},
                    {name: 'Write Counts (k)',symbol: 'none', type: 'line', areaStyle: {}, data: e.write.counts,},
                    {name: 'Write Throughput (MB)',symbol: 'none', yAxisIndex: 1, type: 'line', areaStyle: {}, data: e.write.megabytes,},
                    {name: 'Write Time (ms)',symbol: 'none', yAxisIndex: 2, type: 'line', areaStyle: {}, data: e.write.time_ms,},
                ]
            };

            ctx_io = echarts.init(document.getElementById('io-collection'), null, {height: window.innerHeight * 0.6});
            ctx_io.setOption(option);
        },
        error: function () {document.getElementById('io-collection').parentNode.innerHTML="Fail to load IO data.";}
    });
    $.ajax({
        url: {{ printf "%s/api/disk/%s" .base_url .uuid | js }} , method: "get", dataType: 'json',
        async: true,
        success: function(e){
            let option = {
                tooltip: {trigger: 'axis'},
                title: {left: 'center', text: {{locale .Context "0000027"}}},
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: {type: 'value',axisLabel: {formatter: '{value} MB'},},
                dataZoom: [{type: 'inside', start: 70, end: 100}, {
                    start: 90, end: 100, handleSize: '80%',
                    handleStyle: {
                        color: '#fff', shadowBlur: 3, shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2, shadowOffsetY: 2
                    }}],
                series: [],
                legend: {top: 30}
            };

            Object.keys(e.value).forEach(function(k){
                option.series.push({
                    name: k, type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                    areaStyle: {}, data: e.value[k]
                });
            });

            ctx_disk = echarts.init(document.getElementById('disk-collection'), null, {height: window.innerHeight * 0.6});
            ctx_disk.setOption(option);
        },
        error: function () {document.getElementById('disk-collection').parentNode.innerHTML="Fail to load storage data.";}
    });

    $.ajax({
        url: {{ printf "%s/api/memory/%s" .base_url .uuid | js }}, method: "get", dataType: 'json',
        async: true,
        success: function(e){
            let option = {
                tooltip: {trigger: 'axis'},
                title: {left: 'center', text: {{locale .Context "0000024"}}},
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: {type: 'value',axisLabel: {formatter: '{value} MB'},},
                dataZoom: [{type: 'inside', start: 70, end: 100}, {
                    start: 90, end: 100, handleSize: '80%',
                    handleStyle: {
                        color: '#fff', shadowBlur: 3, shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2, shadowOffsetY: 2
                    }}],
                series:[],
                legend: {top: 30}
            };

            Object.keys(e.value).forEach(function(k){
                option.series.push({
                    name: k, type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                    areaStyle: {}, data: e.value[k]
                });
            });

            ctx_mem = echarts.init(document.getElementById('memory-collection'), null, {height: window.innerHeight * 0.5});
            ctx_mem.setOption(option);
        },
        error: function () {document.getElementById('memory-collection').parentNode.innerHTML="Fail to load memory data.";}
    });
    $.ajax({
        url: {{ printf "%s/api/cpu/%s" .base_url .uuid | js }}, method: "get", dataType: 'json',
        async: true,
        success: function(e){
            let option = {
                tooltip: {trigger: 'axis'},
                title: {left: 'center', text: {{locale .Context "0000023"}}},
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: {type: 'value',axisLabel: {formatter: '{value} %'}},
                dataZoom: [{type: 'inside', start: 70, end: 100}, {
                    start: 90, end: 100, handleSize: '80%',
                    handleStyle: {
                        color: '#fff', shadowBlur: 3, shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2, shadowOffsetY: 2
                    }}],
                series: [],
                legend: {top: 30}
            };
            Object.keys(e.value).forEach(function(k){
                option.series.push({
                    name: k, type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                    areaStyle: {}, data: e.value[k]
                });
            });
            ctx_cpu = echarts.init(document.getElementById('cpu-collection'), null, {height: window.innerHeight * 0.5});
            ctx_cpu.setOption(option);
        },
        error: function () {document.getElementById('cpu-collection').parentNode.innerHTML="Fail to load CPU data.";}
    });

    $.ajax({
        url: {{ printf "%s/api/thermal/%s" .base_url .uuid | js }}, method: "get", dataType: 'json',
        async: true,
        success: function(e){
            if (e.value.length === 0){
                document.getElementById('thermal-collection').innerHTML="No Sensor Available.";
                return 0;
            }

            let option = {
                tooltip: {trigger: 'axis'},
                title: {left: 'center', text: {{locale .Context "0000033"}}},
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: {
                    type: 'value',
                    axisLabel: {formatter: '{value} °C'}
                },
                dataZoom: [{type: 'inside', start: 70, end: 100}, {
                    start: 90, end: 100, handleSize: '80%',
                    handleStyle: {
                        color: '#fff', shadowBlur: 3, shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2, shadowOffsetY: 2
                    }}],
                series:[],
                legend: {top: 30}
            };
            
            Object.keys(e.value).forEach(function(k){
                option.series.push({
                    name: k, type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                    areaStyle: {}, data: e.value[k],
                });
            });
            
            ctx_thermal = echarts.init(document.getElementById('thermal-collection'), null, {height: window.innerHeight * 0.6});
            ctx_thermal.setOption(option);
        },
        error: function () {document.getElementById('thermal-collection').parentNode.innerHTML="Fail to load sensor data.";}
    });

    
    $.ajax({
        url: {{ printf "%s/api/battery/%s" .base_url .uuid | js }}, method: "get", dataType: 'json',
        async: true,
        success: function(e){
            if (e.value.length === 0){
                document.getElementById('battery-collection').innerHTML="No Sensor Available.";
                return 0;
            }

            let option = {
                tooltip: {trigger: 'axis'},
                title: {left: 'center', text: {{locale .Context "0000035"}}},
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: {type: 'value', axisLabel: {formatter: '{value} %'}},
                dataZoom: [{type: 'inside', start: 70, end: 100}, {
                    start: 90, end: 100, handleSize: '80%',
                    handleStyle: {
                        color: '#fff', shadowBlur: 3, shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2, shadowOffsetY: 2
                    }}],
                series:[],
                legend: {top: 30}
            };
            
            Object.keys(e.value).forEach(function(k){
                option.series.push({
                    name: k, type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                    areaStyle: {}, data: e.value[k],
                });
            });
            
            ctx_battery = echarts.init(document.getElementById('battery-collection'), null, {height: window.innerHeight * 0.4});
            ctx_battery.setOption(option);
        },
        error: function () {document.getElementById('battery-collection').parentNode.innerHTML="Fail to load sensor data.";}
    });

    

    $.ajax({
        url: {{ printf "%s/api/ping/%s" .base_url .uuid | js }}, method: "get", dataType: 'json',
        async: true,
        success: function(e){
            if (e.value.length === 0){
                document.getElementById('ping-collection').innerHTML="No Ping View Available.";
                return 0;
            }

            let option = {
                tooltip: {trigger: 'axis'},
                title: {left: 'center', text: {{locale .Context "0000038"}}},
                xAxis: {type: 'category', boundaryGap: false, data: e.time},
                yAxis: {type: 'value', axisLabel: {formatter: '{value} ms'}},
                dataZoom: [{type: 'inside', start: 70, end: 100}, {
                    start: 90, end: 100, handleSize: '80%',
                    handleStyle: {
                        color: '#fff', shadowBlur: 3, shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2, shadowOffsetY: 2
                    }}],
                series:[],
                legend: {top: 30}
            };
            
            Object.keys(e.value).forEach(function(k){
                option.series.push({
                    name: k, type: 'line', smooth: true, symbol: 'none', sampling: 'average',
                    areaStyle: {}, data: e.value[k],
                });
            });
            
            ctx_ping = echarts.init(document.getElementById('ping-collection'), null, {height: window.innerHeight * 0.8});
            ctx_ping.setOption(option);
        },
        error: function () {document.getElementById('ping-collection').parentNode.innerHTML="Fail to load ping view data.";}
    });

    window.onresize = function() {
        ctx_battery && ctx_battery.resize();
        ctx_cpu && ctx_cpu.resize();
        ctx_disk && ctx_disk.resize();
        ctx_mem && ctx_mem.resize();
        ctx_network && ctx_network.resize();
        ctx_ping && ctx_ping.resize();
        ctx_io && ctx_io.resize();
        ctx_thermal && ctx_thermal.resize();
    };
</script>
{{end}}