{{ define "list_template.html" }}
<style>
    .line {
        margin: 20px;
        height: 8px;
        position: relative;
    }

    .icon {
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
        display: inline-block;
        width: 1.33333333em;
        line-height: 1em;
    }

    .graph {
        overflow: visible;
    }
</style>
<script>
    function load_icon(name, url, color) {
        $.ajax({
            url: url,
            type: "GET",
            dataType: "text",
            success: function (res) {
                $(".icon-" + name).html(res);
                $(".icon-" + name + ">svg").css("fill", color);
                $(".icon-" + name + ">svg").addClass("icon");
            }
        });
    }
</script>
<div class="mdui-panel" mdui-panel>
    <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
            <i class="mdui-icon material-icons">&#xe8ef;</i>
            <div class="mdui-panel-item-title">{{ locale .Context "0000040" }}</div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body mdui-typo">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ locale .Context "0000046" }}</th>
                            <th>{{ locale .Context "0000045" }}</th>
                            <th>{{ locale .Context "0000020" }}</th>
                            <th class="mdui-hidden-sm-down">{{ locale .Context "0000019" }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $uuid, $latest := .online }}
                        <tr>
                            <td>
                                <i class="mdui-icon material-icons mdui-text-color-green" mdui-tooltip="{'content': 'Online'}">&#xe2bf;</i>
                            </td>
                            <td>
                                <span
                                    class="flag-icon flag-icon-{{ index $.info $uuid "Country Code" | lower }}"
                                    mdui-tooltip="{'content': {{ index $.info $uuid "Country" }}}"></span>
                                {{ index $.info $uuid "IPV4" }}
                            </td>
                            <td>
                                <span class="icon-{{ index $.info $uuid "System Version" | iconName }}"></span>
                                <script>load_icon({{ index $.info $uuid "System Version" | iconName }},{{ index $.info $uuid "System Version" | iconURL }}, {{ index $.info $uuid "System Version" | iconColor }})</script>
                            </td>
                            <td>
                                {{ index $.info $uuid "Uptime" }}
                            </td>
                            <td class="mdui-hidden-sm-down">
                                {{ index $.info $uuid "Throughput" }}
                            </td>
                        </tr>
                        {{ end }}
                        {{ range $uuid, $latest := .offline }}
                        <tr>
                            <td>
                                <i class="mdui-icon material-icons mdui-text-color-red" mdui-tooltip="{'content': 'Offline'}">&#xe2c1;</i>
                            </td>
                            <td>
                                <span
                                    class="flag-icon flag-icon-{{ index $.info $uuid "Country Code" | lower }}"
                                    mdui-tooltip="{'content': {{ index $.info $uuid "Country" }}}"></span>
                                {{ index $.info $uuid "IPV4" }}
                            </td>
                            <td>
                                <span class="icon-{{ index $.info $uuid "System Version" | iconName }}"></span>
                                <script>load_icon({{ index $.info $uuid "System Version" | iconName }},{{ index $.info $uuid "System Version" | iconURL }}, {{ index $.info $uuid "System Version" | iconColor }})</script>
                            </td>
                            <td>
                                {{ index $.info $uuid "Uptime" }}
                            </td>
                            <td class="mdui-hidden-sm-down">
                                {{ index $.info $uuid "Throughput" }}
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
</script>
{{ end }}